.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.projectsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-top: 40px;
}

/* Tablet */
@media (min-width: 600px) {
  .projectsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 900px) {
  .projectsContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}
